# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/

# env
.env
.env.local
.env*.local

# editor
.vscode/
.idea/
.DS_Store

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# scratch
tmp/

# vercel
.vercel
tmp/
